<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Persons</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
</head>
<body>
    <h1>Persons list</h1>
    <h2><a href='/add_person'>Add new person</a></h2>
    <br/><br/>
    <div class="container">
        <table class ="container" border="1">
            <tr>
                <th><h1>Name</h1></th>
                <th><h1>Surname</h1></th>
            </tr>
            <tr th:each ="person : ${persons}">
                <td th:utext="${person.name}"></td>
                <td th:utext="${person.surname}"></td>
                <td>
                    <a th:href="@{/edit_person(id=${person.id})}">edit</a>
                </td>
                <td>
                    <a th:href="@{/delete_person(id=${person.id})}">delete</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>